@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.kanit {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}   

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
    
    body{
      background:#ffffff;
    }

    /* ส่วน Banner ด้านบน */
    .banner{
        width:100%;   /* เปลี่ยนสีได้ */
        background-size: cover;               /* ขยายภาพให้เต็มพื้นที่ */
        background-position: center;          /* จัดตำแหน่งภาพให้อยู่กลาง */
        background-repeat: no-repeat;         /* ไม่ให้ภาพซ้ำ */
        color:#fff;
        display:flex;
        align-items:center;
        justify-content:center;
        position:relative;
    }

    .banner img {
        width:100%;
        height:auto;   /* สำคัญ! */
        display:block;
    }

    .banner-img-mb {
        overflow: hidden;
    }

    /* แถบเส้น+รูปโปรไฟล์ */
    .profile-bar{
      position:relative;
      margin-top:0px;   /* ดึงให้โปรไฟล์ลอยทับ banner */
      margin-bottom:60px;
    }

    .profile-bar .profile-pic{
      width:130px;
      height:130px;
      border-radius:50%;
      background:#fff;
      /* border:4px solid #000; */
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      display:flex;
      align-items:center;
      justify-content:center;
      font-weight:bold;
      color:#c2185b;
    }
    /* ส่วนเนื้อหา */
    .content{
      padding-bottom:3rem;
    }

/* CSS */
    .button-85 {
        margin-top: 1rem;
        padding: 0.6em 2em;
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-85:before {
        content: "";
        background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing-button-85 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
    }

    @keyframes glowing-button-85 {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }

    .button-85:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #222;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
@media (max-width: 768px){
    .banner-img-pc {
        overflow: hidden;
    }
    .banner-img-mb {
        overflow: visible;
    }
}